body,
html {
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
}

.navbar {
    background-color: #242424;
    display: flex;
    position: relative;
    height: 88px;
    justify-content: space-between;
    padding: 0 20px;
}

.menu {

    white-space: nowrap;
    display: flex;
    gap: 60px;

}


.logo,
.logout {
    flex: 1;
    display: flex;
    align-items: center;

}

.logo {
    justify-content: flex-start;
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logout {
    justify-content: flex-end;
    font-size: 16px;
    color: #888
}

.nav-item {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 20px;
    position: relative;
    padding-left: 20px;
}

.nav-item.active {
    color: #BEFF1D;

}

.nav-item:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #BEFF1D;
    border-radius: 50%;
}